/* MOBILE FIRST DESIGN */
/* GLOBAL SETTINGS */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0 4vw;
}

p {
    color: hsl(236, 13%, 42%);
    line-height: 1.6;
    /* font-size: 15px; */
}

/* INDIVIDUAL SETTINGS */
/* TOP NAVIGATION SECTION */
.navContainer {
    display: flex;
}

.navContainer .navLinks ul {
    list-style-type: none;
}


/* TOP SECTION */
.heroImage {
    margin: 0;
}

.heroImage img {
    width: 100%;
}

.heroTitle {
    margin-top: 6vw;
}

.heroTitle h1 {
    font-size: 12vw;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

.heroDetails {
    margin-top: 6vw;
}

.heroDetails p {
    font-size: 4vw;
    margin: 0;
}

.heroDetails button {
    background-color: hsl(5, 85%, 63%);
    border: 0;
    width: 48vw;
    height: 12vw;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    color: hsl(36, 100%, 99%);
    margin-top: 6vw;
}


/* MID SECTION OR LATEST NEWS */
.midSection {
    margin-top: 12vw;
}

.midContainer {
    background-color: hsl(240, 100%, 5%);
    padding: 7.2vw;
}

.midContainer * {
    margin: 0;
}

.boxLatestNews {
    padding: 8.8vw 0;
}

.midContainer h3 {
    color: hsl(35, 77%, 62%);
    font-size: 8vw;
}

.midContainer h2 {
    color: hsl(36, 100%, 99%);
    font-size: 5.2vw;
    font-weight: 700;
}

.boxLatestNews p {
    margin-top: 1rem;
    color: hsl(233, 8%, 79%);
    font-size: 4vw;
}

.midContainer .boxLatestNews:nth-child(3) {
    border-top: 1px solid hsl(236, 13%, 42%);
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.midContainer .boxLatestNews:nth-child(4) {
    padding-bottom: 0;
}


/* BOTTOM SECTION OR TOP NEWS */
.botSection {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.boxTopNews {
    display: flex;
    margin-top: 2rem;
    /* border: 1px solid black; */
}

.boxTopNews * {
    margin: 0;
}

.topNewsImage img {
    width: 28vw;
}

.topNewsText>* {
    margin-top: .4rem;
    padding-left: 1.5rem;
}

.topNewsText h3:first-of-type {
    margin-top: 0;
}

.topNewsText h3 {
    font-size: 8vw;
    color: hsl(233, 8%, 79%);
}

.topNewsText h2 {
    font-size: 4.8vw;
    font-weight: 800;
}

.topNewsText p {
    font-size: 4vw;
}


/* TABLET VERSION (BONUS) */
/* TABLET VERSION (BONUS) */
@media (min-width: 800px) {
    body {
        padding: 0 8vw;
    }

    .heroTitle {
        margin-top: 4vw;
    }

    .heroTitle h1 {
        text-align: center;
        margin: 0;
        font-size: 16vw;
    }

    .heroDetails {
        margin-top: 4vw;
    }

    .heroDetails p {
        text-align: center;
        font-size: 4vw;
        margin: 0;
    }

    .heroDetails button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 4vw;
        width: 40vw;
        height: 12vw;
        font-size: 3vw;
    }

    .midSection {
        margin-top: 8vw;
    }

    .midContainer {
        padding: 8vw;
    }

    .midContainer h3 {
        font-size: 8vw;
    }

    .boxLatestNews h2 {
        font-size: 4.8vw;
    }

    .boxLatestNews p {
        font-size: 3.5vw;
    }

    .botSection {
        margin-top: 8vw;
    }

    .boxTopNews {
        margin-top: 8vw;
    }

    .topNewsImage img {
        width: 24vw;
    }

    .topNewsText h3 {
        font-size: 8vw;
    }

    .topNewsText h2 {
        font-size: 4.8vw;
    }

    .topNewsText p {
        font-size: 4vw;
    }
}


/* DESKTOP DESIGN */
/* DESKTOP DESIGN */
@media (min-width: 1200px) {

    /* TOP NAVIGATION SETTINGS */
    .navContainer {
        justify-content: space-between;
        align-items: center;
        height: 8vw;
    }

    .navLinks ul {
        display: flex;
        gap: 3.2vw;
        color: hsl(236, 13%, 42%);
        font-size: 1.2vw;
    }

    .navLinks ul li:hover {
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }


    /* THIS IS THE HERO SECTION */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .44fr .44fr 1fr;
        gap: 2rem;
        grid-template-areas:
            "hero-section hero-section latest-news"
            "hero-section hero-section latest-news"
            "top-news top-news top-news";
    }

    .topSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
        grid-template-areas:
            "hero-image hero-image"
            "hero-title hero-details";
        grid-area: hero-section;
    }

    .heroImage {
        width: 100%;
        grid-area: hero-image;
    }

    .heroTitle {
        grid-area: hero-title;
        margin: 0;
    }

    .heroTitle h1 {
        font-size: 4.6vw;
        text-align: left;
        margin-top: 2vw;
    }

    .heroDetails {
        grid-area: hero-details;
        margin: 0;
    }

    .heroDetails p {
        font-size: 1.2vw;
        text-align: left;
        margin-top: 2vw;
    }

    .heroDetails button {
        font-size: 1.2vw;
        margin: 0;
        width: 16vw;
        height: 4vw;
        left: 0;
        transform: translateX(0);
        top: 16%;
    }

    .heroDetails button:hover {
        background-color: hsl(240, 100%, 5%);
        cursor: pointer;
        color: hsl(36, 100%, 99%);
    }

    /* THIS IS THE MID SECTION OR LATEST NEWS */
    .midSection {
        grid-area: latest-news;
        margin: 0;
    }

    .midContainer {
        padding: 2.2vw 1.6vw;
    }

    .midContainer h3 {
        font-size: 3.2vw;
    }

    .boxLatestNews {
        padding: 2.2vw 0;
    }

    .boxLatestNews h2 {
        font-size: 1.6vw;
    }

    .boxLatestNews h2:hover {
        color: hsl(35, 77%, 62%);
        cursor: pointer;
    }

    .boxLatestNews p {
        font-size: 1.2vw;
        margin-top: 1vw;
    }

    /* THIS IS THE BOTTOM SECTION OR TOP NEWS */
    .botSection {
        grid-area: top-news;
        display: flex;
        margin: 0;
    }

    .boxTopNews {
        margin: 0;
        width: 28.6vw;
    }

    .topNewsImage img {
        width: 8vw;
    }

    .topNewsText {
        padding: 0 1.6vw;
    }

    .topNewsText h3 {
        font-size: 2.4vw;
        padding: 0;
    }

    .topNewsText h2 {
        font-size: 1.4vw;
        padding: 0;
        margin-top: 1vw;
    }

    .topNewsText h2:hover {
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    .topNewsText p {
        font-size: 1.2vw;
        padding: 0;
        margin-top: 1vw;
    }
}